button {
    cursor: pointer;
    font-family: "PPMori-SemiBold";
    font-size: 16px;
}

h3 * {
    font-family: "PPMori-Regular";
    font-size: 16px;
}

p * {
    font-family: "PPMori-Extralight";
    font-size: 16px;
}